In [3]:
import yfinance as yf
import pandas as pd
import numpy as np

In [4]:
def download_dados(tickers, interval = '1d', period = 'max'):
    
    df = yf.download(tickers, interval=interval, period=period)['Adj Close']
    #retorno, df_ln = coin.calc_ret_ln(df)

    return df

In [32]:
ativos = pd.read_csv('ativos.csv', sep=';')
ativos = ativos.iloc[:-40]
ativos.drop([425, 506, 561, 681], inplace=True)

In [33]:
tickers = ' '
for i in range(len(ativos)):
    aux = ativos.iloc[i][1]
    tickers = tickers +' '+ aux
tickers

'  MSFT AAPL AMZN TSLA GOOGL GOOG FB NVDA BRK.B JPM JNJ UNH HD BAC PG V ADBE DIS NFLX CRM MA PYPL XOM TMO PFE CSCO CMCSA ACN ABT PEP MRK AVGO COST NKE VZ KO CVX WMT WFC LLY ABBV INTC DHR MCD T TXN INTU LIN NEE LOW MDT ORCL AMD QCOM UNP UPS HON MS PM GS C NOW BLK RTX SBUX BMY AMAT TGT ISRG AMT CVS SCHW AMGN MRNA BA GE IBM CAT AXP SPGI PLD MMM ANTM ZTS BKNG COP DE ADI ADP SYK PNC CHTR MDLZ TFC GILD CB USB MO LRCX TJX MMC LMT GM CSX MU CME CCI EL DUK ICE SHW EQIX CI F EW TMUS NSC BDX COF REGN FIS ADSK ETN APD AON SO ITW CL MCO WM HCA ILMN BSX D FISV KLAC DXCM FDX HUM NXPI EMR ECL FCX PGR SPG NOC IDXX MSCI EOG EXC DG AIG ATVI JCI SNPS PSA ROP TEL INFO CMG TROW VRTX ALGN IQV APTV EBAY A CDNS BK MET XLNX APH GD SLB CARR MAR DLR FTNT KMB LHX SIVB PRU NEM DOW MCHP TWTR CNC PXD ORLY MSI AEP TT MTCH DD ROST CTSH BIIB SRE MPC HLT BAX TRV O EA GPN SYY PAYX ROK PH RMD FRC PPG AZO SBAC CTAS GIS HPQ ALL STZ YUM STT ADM IFF WBA AMP CBRE WELL DFS MCK AFL PSX VRSK OTIS WMB XEL MTD EFX CMI KEYS ANSS AJG AVB FAST CTVA KMI ODFL CPRT TDG AME MNST WST NUE PEG ENPH PCAR ZBH VLO ZBRA FITB BLL ALB AWK SWK WLTW OXY LUV KR ETSY ES DHI EQR ARE WY SWKS GNRC OKE GLW ANET WEC KSU BBY LEN RSG LH URI FTV SYF IT EXR ED DVN DAL DLTR NTRS VMC HIG HSY CDW MLM TSCO PAYC DOV KHC NDAQ LYB TSN VFC KMX HBAN EIX RF MAA CZR CTLT EXPE CERN MPWR KEY VIAC IR XYL PPL HES TYL TRMB HAL VRSN DTE TER STE CHD ESS AEE EXPD GRMN TTWO FE WAT DRE BKR ULTA TDY COO ETR GWW VTR POOL CFG MTB MKC CLX NTAP FLT HPE QRVO BBWI RCL BR TECH MGM PKI IP CRL GPC ABC FANG AMCR RJF DRI PEAK STX CINF CE CCL HOLX J AKAM AVY CTRA DPZ DGX WAB IEX CMS TXT CDAY PFG WDC NVR AES VTRS BIO BXP JBHT PWR TFX ABMD K MAS CAG UAL UDR CNP LKQ MKTX AAP EMN NLOK CAH EVRG OMC KIM BRO CBOE LNT IPG IRM FBHS LYV PTC WHR MOS LVS SJM FMC FOXA AAL FFIV BF.B RHI MRO XRAY WRK PKG LDOS HST INCY PHM CF CHRW HRL ATO PNR LUMN HAS CMA JKHY HWM L TPR CTXS ALLE WRB SNA REG BWA HSIC RE PENN DISH ZION APA AOS BEN JNPR NCLH MHK WYNN NRG NI AIZ UHS OGN SEE NWSA NWL IVZ FRT TAP GL CPB PVH LW DXC HII PBCT ROL NLSN WU PNW DISCK DVA VNO ALK HBI IPGP RL LEG FOX GPS UAA UA DISCA NWS AAPL NVDA GOOG GOOGL FB ADBE NFLX PYPL CSCO CMCSA PEP AVGO COST INTC TXN INTU AMD HON TMUS MRNA SBUX ISRG AMAT CHTR AMGN BKNG ADI ADP MDLZ GILD LRCX CSX MU MELI ADSK ZM REGN ASML FISV ILMN JD DXCM TEAM ATVI KLAC LULU MRVL WDAY DOCU CRWD IDXX ALGN EXC MAR KDP EBAY CDNS VRTX XLNX MNST KHC CTAS PAYX MCHP ORLY AEP CTSH MTCH BIDU ROST BIIB EA CPRT OKTA PDD XEL ANSS FAST SGEN NTES SWKS SPLK CDW SIRI VRSN DLTR PTON CERN CHKP TCOM INCY FOXA FOX SPY XLF UVXY XLE SOXS EWZ HYG SLV IWM EEM FXI GDX SOXL KWEB XLU XLV KOLD XLK EFA LQD JNK SDS TZA XLP IAU XLI DRIP SPXU VEA UNG USO BKLN VWO KRE TNA XOP IEMG IEFA EWJ ARKK QID SPXS GLD IXC AGG XBI SPYV JETS XLY ITB XLB IYR SPXL SH DBC SPIB VGK UPRO SJNK XLRE TBT GDXJ IWD SCO SRTY VOO SCHP DIA USMV PSQ PSLV SPTL EWY VTI ERX IJR XME VNQ XRT EWC GOVT RSX NUGT TIP LABU EWT SPEM JDST PHYS BSV LABD BNO EZU UDOW IWF DBO YINN RSP QLD SPLG SSO IYE PGX GUSH IVW EWU URA ARKG VIXY SPSB EWG DUST SDOW EFV GSG SPYG TECS SVXY VTEB TWM EWH SCHF KBE FAS ILF FAZ ASHR IWR XHB BOIL TECL AMLP SPLV FCG IJJ EWA ECH VEU SRLN MUB SPMB SCHD CWB VTV INDA VT SPTI SILJ SPAB EWW TMF LIT SPDW FEZ SHYG SPLB KSA ERY SGOL GUNR XSOE EMLC ITOT VDE MDY IWN EWL HYD VIG VLUE TFI MINT AGQ TBF UUP DBA DGRO RWM JNUG IQLT TAN UCO DPST EIDO ARKW IJH ICVT KIE FPE DXD HYS VYM IHI VUG RODM FNDE YANG SCHX BIV SPMD OIH SPIP SDIV SCHO'

In [ ]:
#tickers = "ABEV3.SA AZUL4.SA B3SA3.SA BBAS3.SA BBDC3.SA BBDC4.SA BBSE3.SA  BRAP4.SA  BRFS3.SA BRKM5.SA BRML3.SA CCRO3.SA CIEL3.SA CMIG4.SA COGN3.SA CRFB3.SA CSAN3.SA CSNA3.SA CVCB3.SA CYRE3.SA ECOR3.SA EGIE3.SA ELET3.SA ELET6.SA EMBR3.SA ENBR3.SA EQTL3.SA FLRY3.SA GGBR4.SA GNDI3.SA GOAU4.SA GOLL4.SA HAPV3.SA HGTX3.SA HYPE3.SA IGTA3.SA IRBR3.SA ITSA4.SA ITUB4.SA JBSS3.SA KLBN11.SA LAME4.SA LREN3.SA MGLU3.SA MRFG3.SA MRVE3.SA MULT3.SA PETR3.SA PETR4.SA QUAL3.SA RADL3.SA RAIL3.SA RENT3.SA SANB11.SA SBSP3.SA SULA11.SA SUZB3.SA TAEE11.SA TOTS3.SA UGPA3.SA USIM5.SA VALE3.SA VIIA3.SA WEGE3.SA YDUQ3.SA"

In [34]:
from mlpairs import OpticsPairs
import pandas as pd

stock_prices = yf.download(tickers, interval='1d', period='3y')['Adj Close']
#stock_prices = pd.read_csv('stock_prices.csv', index_col='Date')
train = stock_prices[:'2019']
test = stock_prices['2020':]

train.head()

[*********************100%***********************]  729 of 729 completed

3 Failed downloads:
- EWW: Error occurred while retrieving timeseries from Redis, keys: [RedisKey [key=EWW, cluster=finance]]
- BF.B: None
- BRK.B: No data found, symbol may be delisted

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XSOE,XYL,YANG,YINN,YUM,ZBH,ZBRA,ZION,ZM,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2018-11-05,64.403152,35.151604,161.405304,48.898945,69.645958,84.006088,392.910004,67.129265,152.267532,239.889999,...,25.382261,66.281212,60.282505,19.733435,83.001892,112.503639,168.000000,44.776367,NaN,90.981613
2018-11-06,64.471550,34.610352,164.318420,49.427746,70.556808,79.680580,389.850006,67.672874,153.054794,240.559998,...,25.294147,67.577637,60.223576,19.781994,83.409920,112.513428,178.740005,45.264061,NaN,91.020889
2018-11-07,66.699425,36.381710,166.684113,50.926807,73.339943,82.089966,412.100006,69.141525,157.327087,253.429993,...,25.722260,69.173935,56.638844,20.927931,84.814323,115.564919,180.240005,45.742569,NaN,93.405319
2018-11-08,66.240181,36.273464,168.580582,50.749123,73.989349,84.584732,413.850006,69.580223,157.931946,249.960007,...,25.179220,69.231979,60.282505,19.568344,85.839149,116.601616,182.479996,46.395897,NaN,93.120750
2018-11-09,65.732056,35.643646,167.339096,49.770596,74.883324,84.290649,405.170013,69.418091,158.555984,244.839996,...,24.662033,68.574120,65.271675,18.033957,86.085869,115.036766,181.500000,46.156654,NaN,93.483803

In [35]:
stock_prices.to_csv('stock_prices.csv')

In [ ]:
train.dropna(0, inplace=True)
test.dropna(0,inplace=True)
print(len(train), len(test))

In [ ]:
op = OpticsPairs(train)
op.returns.head()

In [ ]:
for i in range(len(op.returns)):
    for j in range(len(op.returns.columns)):
        if op.returns.iloc[i][j] == np.inf or op.returns.iloc[i][j] == -np.inf:
            op.returns.iloc[i][j] = 0.00

In [ ]:
op.returns.fillna(0,inplace=True)

In [ ]:
op.reduce_PCA()
op.plot_loadings()

In [ ]:
op.find_pairs()
op.pairs

In [ ]:
op.plot_clusters(n_dimensions=2)

In [ ]:
op.calc_eg_norm_spreads()
op.calc_hurst_exponents()
op.calc_half_lives()
op.calc_avg_cross_count()

In [ ]:
op.filter_pairs()
op.filtered_pairs

In [ ]:
for i in op.filtered_pairs.index:
    op.plot_pair_price_spread(idx=i)