In [15]:
import pandas as pd
import math

In [29]:
df = pd.read_excel('base_1D.xlsx', index_col='Data')
df_ln = pd.DataFrame(columns = df.columns, index = df.index)

In [30]:
for i in range(len(df)):
    for columns in df.columns:
        df_ln[columns][i] = math.log(df[columns][i])

In [34]:
ret = df_ln - df_ln.shift(-1)

In [35]:
ret

              WINFUT    WDOFUT    WSPFUT
Data
2021-10-05 -0.000906  0.003642  0.009376
2021-10-04 -0.024339  0.017299 -0.012826
2021-10-01  0.021716 -0.014833  0.012477
2021-09-30 -0.004057  0.005686 -0.014083
2021-09-29  0.010129 -0.003412  0.002755
...              ...       ...       ...
2018-12-21 -0.004235  0.015622 -0.016384
2018-12-20  0.003073 -0.014213 -0.023248
2018-12-19 -0.014814 -0.004226 -0.004526
2018-12-18  0.003095  0.003327 -0.003822
2018-12-17       NaN       NaN       NaN

[694 rows x 3 columns]